commands:
    00_install_awscli:
        command: "bash -c '[ -d awscli ] || { virtualenv awscli && source awscli/bin/activate && pip install awscli ; }'"
        cwd: /var/local
    01_login_ecr:
        command: "bash -c 'source awscli/bin/activate && export AWS_DEFAULT_REGION=us-west-1 && eval \"$(aws ecr get-login)\"'"
        cwd: /var/local
